Steps:
- Create metadata file
- Initialize the project
- convert dat files to csv files
- convert csvs to summary files

In [27]:
from fopt_toolkit import fopt_toolkit as fp
import glob
import os
import pandas as pd
import numpy as np

### Create metadata file

'Sensor', 'ID', 'Date', 'Site', 'Sample_Type', 'Analysis_Type', 'Rep', 'Temp'

ID: name of the raw dat file minus its extension (.dat) to ID the individual sample

Sample_Type: 
- cal (calibration sample, water blank)
- fil (filtered sample containing dissolved organic C)
- raw (unfiltered sample containing total organic C)

Analysis_Type:
- a (absorption)
- c (attenuation, equaling absorption + backscatter)

Temperature:
- numeric value in degrees C

Other optional valus:
- Sensor: name or type of instrument
- Date: optional
- Site: optional
- Rep: optional

In [3]:
raw_data_file_path = "../Data/raw_dat_files"

In [9]:
basenames = []
date = []
site = []
sample_type = []
abs_type = []
rep = []
temp = []
raw_file_path = []


file_list = sorted(glob.glob(raw_data_file_path+'/*.dat'))
for j in file_list:
    basename = j.split('/')[-1].split('.')[0]
    ## We are excluding the field measurements of filtered data here because theyw ere not good 
    if 'field' in basename:
        continue
    basenames.append(basename)
    Sensor, Date, Site, Sample_Type, Abs_Type, Rep, T1, T2= basename.split('_')
    T = float(T1.lstrip('T')+'.'+T2)
    date.append(str(Date))
    site.append(Site)
    sample_type.append(Sample_Type)
    abs_type.append(Abs_Type)
    rep.append(Rep)
    temp.append(T)
    raw_file_path.append(j)


df = pd.DataFrame(
    {'Sensor':'AC9',
     'ID':basenames,
     'Date': date,
     'Site': site,
     'Sample_Type': sample_type,
     'Analysis_Type': abs_type,
     'Rep': rep,
     'Temperature': temp,
     
    })


df.to_csv("../Data/metadata_original.csv", sep='\t',index=False)

### Initialize project

### Dat file to csv

This should be a function that takes a directory, and converts every .dat file in it into a clean csv

subfunctions to make:
- check metadata file --> checks the path where the metadata file shoudl be and makes sure it has all the columns necessary; if it doesn't, or the file isn't there, give a warning message
- upload metadata function

In [13]:
metadata_filepath = "../Data/metadata_original.csv"
raw_dat_dir_filepath = "../Data/raw_dat_files/"
cleaned_csv_dir_filepath = "../Data/cleaned_csv_files/"
metadata = pd.read_csv(metadata_filepath, dtype={'Date': object}, skiprows=0, delimiter= '\t')

In [14]:
fp.make_dir(cleaned_csv_dir_filepath)

In [9]:
dat_files = glob.glob(os.path.join(raw_dat_dir_filepath, "*.dat"))

In [62]:
read_wl = pd.read_csv(dat_files[0], skiprows=10, names=range(100), delimiter= '\t')  # use names= range (100) to clip dangling columns

In [63]:
a_c_wl = read_wl[0][0:18]

In [76]:
wavelengths_str = np.asarray(a_c_wl)

In [77]:
wavelengths_str

array(['a650', 'a676', 'a715', 'c510', 'c532', 'c555', 'a412', 'a440',
       'a488', 'c650', 'c676', 'c715', 'a510', 'a532', 'a555', 'c412',
       'c440', 'c488'], dtype=object)

In [73]:
wls = list(set([float(i.lstrip('a').lstrip('c')) for i in a_c_wl]))
wls.sort()

In [74]:
wls

[412.0, 440.0, 488.0, 510.0, 532.0, 555.0, 650.0, 676.0, 715.0]

In [25]:
wl_a = []    ; wl_c = []  ; wl_a_str = []  ; wl_c_str = []

In [37]:
df1 = pd.read_csv(dat_files[0], skiprows=31, delimiter= '\t')

In [40]:
df1.head()

,0,1.36541,1.31293,1.26941,6.56693,6.62578,6.25534,4.69777,3.28448,2.22138,...,0.01998,0.01864,0.01293,0.01647,0.01699,0.01757,0.01372,0.00571,0.01610,0.02151
0,160,1.36460,1.31280,1.27097,6.56635,6.63243,6.26300,4.70108,3.28644,2.22663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,330,1.36372,1.30852,1.26658,6.57479,6.63982,6.25878,4.70374,3.28373,2.22471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,490,1.36658,1.31473,1.27068,6.58210,6.64769,6.25979,4.69868,3.28799,2.22690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,660,1.36490,1.31219,1.27220,6.57761,6.63628,6.25420,4.70271,3.28771,2.22405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,820,1.36754,1.31214,1.27239,6.56992,6.63090,6.25823,4.70138,3.28711,2.22575,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
columns = df1.columns[19:len(df1.columns)]

In [39]:
columns

Index(['33.63', '6.0', '0.00', '-2.04', '0.01727', '0.01196', '0.01513',
       '0.01831', '0.01892', '0.01480', '0.00542', '0.01505', '0.01998',
       '0.01864', '0.01293', '0.01647', '0.01699', '0.01757', '0.01372',
       '0.00571', '0.01610', '0.02151'],
      dtype='object')

In [43]:
len(columns)

22

In [44]:
len(wl_c_sorted)

9

In [45]:
df2 = df1.drop(columns, axis=1)

In [46]:
df2.head()

,0,1.36541,1.31293,1.26941,6.56693,6.62578,6.25534,4.69777,3.28448,2.22138,6.24456,6.05929,6.05228,1.91839,1.72149,1.62207,8.93957,7.61678,6.67236
0,160,1.36460,1.31280,1.27097,6.56635,6.63243,6.26300,4.70108,3.28644,2.22663,6.23772,6.05510,6.05472,1.92325,1.72601,1.62567,8.94010,7.61556,6.67436
1,330,1.36372,1.30852,1.26658,6.57479,6.63982,6.25878,4.70374,3.28373,2.22471,6.22345,6.04701,6.06005,1.92230,1.72970,1.63079,8.94216,7.61060,6.66798
2,490,1.36658,1.31473,1.27068,6.58210,6.64769,6.25979,4.69868,3.28799,2.22690,6.22780,6.05494,6.06822,1.92450,1.72463,1.62729,8.94005,7.60929,6.66934
3,660,1.36490,1.31219,1.27220,6.57761,6.63628,6.25420,4.70271,3.28771,2.22405,6.23589,6.06242,6.06347,1.91925,1.72230,1.62563,8.93650,7.61406,6.67712
4,820,1.36754,1.31214,1.27239,6.56992,6.63090,6.25823,4.70138,3.28711,2.22575,6.23883,6.06055,6.05548,1.92222,1.72971,1.63099,8.93746,7.62025,6.68359

In [47]:
columns1 = df2.columns[0]
df3 = df2.drop(columns1, axis=1)

In [48]:
df3.head()

,1.36541,1.31293,1.26941,6.56693,6.62578,6.25534,4.69777,3.28448,2.22138,6.24456,6.05929,6.05228,1.91839,1.72149,1.62207,8.93957,7.61678,6.67236
0,1.36460,1.31280,1.27097,6.56635,6.63243,6.26300,4.70108,3.28644,2.22663,6.23772,6.05510,6.05472,1.92325,1.72601,1.62567,8.94010,7.61556,6.67436
1,1.36372,1.30852,1.26658,6.57479,6.63982,6.25878,4.70374,3.28373,2.22471,6.22345,6.04701,6.06005,1.92230,1.72970,1.63079,8.94216,7.61060,6.66798
2,1.36658,1.31473,1.27068,6.58210,6.64769,6.25979,4.69868,3.28799,2.22690,6.22780,6.05494,6.06822,1.92450,1.72463,1.62729,8.94005,7.60929,6.66934
3,1.36490,1.31219,1.27220,6.57761,6.63628,6.25420,4.70271,3.28771,2.22405,6.23589,6.06242,6.06347,1.91925,1.72230,1.62563,8.93650,7.61406,6.67712
4,1.36754,1.31214,1.27239,6.56992,6.63090,6.25823,4.70138,3.28711,2.22575,6.23883,6.06055,6.05548,1.92222,1.72971,1.63099,8.93746,7.62025,6.68359

In [51]:
wl_header = wavelengths_str 

# Clean and reindex
df4 = df3[1:]                                       # take the data (row 1- n) less the header row (row 0)
df4.columns = wavelengths_str

In [52]:
df4.head()

,a650,a676,a715,c510,c532,c555,a412,a440,a488,c650,c676,c715,a510,a532,a555,c412,c440,c488
1,1.36372,1.30852,1.26658,6.57479,6.63982,6.25878,4.70374,3.28373,2.22471,6.22345,6.04701,6.06005,1.92230,1.72970,1.63079,8.94216,7.61060,6.66798
2,1.36658,1.31473,1.27068,6.58210,6.64769,6.25979,4.69868,3.28799,2.22690,6.22780,6.05494,6.06822,1.92450,1.72463,1.62729,8.94005,7.60929,6.66934
3,1.36490,1.31219,1.27220,6.57761,6.63628,6.25420,4.70271,3.28771,2.22405,6.23589,6.06242,6.06347,1.91925,1.72230,1.62563,8.93650,7.61406,6.67712
4,1.36754,1.31214,1.27239,6.56992,6.63090,6.25823,4.70138,3.28711,2.22575,6.23883,6.06055,6.05548,1.92222,1.72971,1.63099,8.93746,7.62025,6.68359
5,1.36513,1.31161,1.26892,6.56223,6.61930,6.25658,4.70184,3.28269,2.22056,6.25812,6.05626,6.02272,1.92526,1.72825,1.63201,8.92545,7.63083,6.70371

In [53]:
# set the header row as list of wavelengths
df4 = df4.reindex(sorted(df4.columns), axis=1) # reindex them by the new sorted wavelengths
df4= df4.apply(pd.to_numeric)

In [54]:
df4.head()

,a412,a440,a488,a510,a532,a555,a650,a676,a715,c412,c440,c488,c510,c532,c555,c650,c676,c715
1,4.70374,3.28373,2.22471,1.92230,1.72970,1.63079,1.36372,1.30852,1.26658,8.94216,7.61060,6.66798,6.57479,6.63982,6.25878,6.22345,6.04701,6.06005
2,4.69868,3.28799,2.22690,1.92450,1.72463,1.62729,1.36658,1.31473,1.27068,8.94005,7.60929,6.66934,6.58210,6.64769,6.25979,6.22780,6.05494,6.06822
3,4.70271,3.28771,2.22405,1.91925,1.72230,1.62563,1.36490,1.31219,1.27220,8.93650,7.61406,6.67712,6.57761,6.63628,6.25420,6.23589,6.06242,6.06347
4,4.70138,3.28711,2.22575,1.92222,1.72971,1.63099,1.36754,1.31214,1.27239,8.93746,7.62025,6.68359,6.56992,6.63090,6.25823,6.23883,6.06055,6.05548
5,4.70184,3.28269,2.22056,1.92526,1.72825,1.63201,1.36513,1.31161,1.26892,8.92545,7.63083,6.70371,6.56223,6.61930,6.25658,6.25812,6.05626,6.02272

In [55]:
no_cols = int(len(df4.columns)/2.)

In [56]:
no_cols

9

In [57]:
new_header = wl_a_sorted

In [58]:
new_header

array([412., 440., 488., 510., 532., 555., 650., 676., 715.])

In [59]:
df_a_aux = df4.iloc[:, :no_cols];  
df_a_aux.columns = new_header ;  
df_a = df_a_aux.reindex(sorted(df_a_aux.columns), axis = 1)

In [60]:
df_a.head()

,412.0,440.0,488.0,510.0,532.0,555.0,650.0,676.0,715.0
1,4.70374,3.28373,2.22471,1.92230,1.72970,1.63079,1.36372,1.30852,1.26658
2,4.69868,3.28799,2.22690,1.92450,1.72463,1.62729,1.36658,1.31473,1.27068
3,4.70271,3.28771,2.22405,1.91925,1.72230,1.62563,1.36490,1.31219,1.27220
4,4.70138,3.28711,2.22575,1.92222,1.72971,1.63099,1.36754,1.31214,1.27239
5,4.70184,3.28269,2.22056,1.92526,1.72825,1.63201,1.36513,1.31161,1.26892

In [ ]:
df_a_aux = df4.iloc[:, :no_cols];  
df_a_aux.columns = new_header ;  
df_a = df_a_aux.reindex(sorted(df_a_aux.columns), axis = 1)

df_c_aux = df4.iloc[:, no_cols:];  
df_c_aux.columns = new_header ;  
df_c = df_c_aux.reindex(sorted(df_c_aux.columns), axis = 1)

In [ ]:
# iterate through the raw files
metadata = pd.read_csv(metadata_updated_filepath, dtype={'Date': object}, skiprows=0, delimiter= '\t')
cleaned_raw_file_path = []
averaged_file_path = []
conf = []

for file_path in metadata['Raw_File_Path']:
# brings in file
    ### Some field filtered measurements sneakily made it through; we shall eliminate them
    if 'field' in file_path.split('/')[-1]:
        continue
    read_wl = pd.read_csv(file_path, skiprows=10, names=range(100), delimiter= '\t')  # use names= range (100) to clip dangling columns
    # reads in a and c wavelength values from the first column of data
    a_c_wl = read_wl[0][0:18]  ; a_wl = read_wl[0][0:9] ; c_wl = read_wl[0][9:18];

    # make empty objects for your new variables of the wavelength value and name
    # Example: wl_a: 650.0; wl_a_str: a650
    wl_a = []    ; wl_c = []  ; wl_a_str = []  ; wl_c_str = []

    # makes a list of the 9 wavelengths formatted as floats
    for i in range(len(a_wl)):
        wl_a.append(np.float(a_wl[i][1:4]))
        wl_a_str.append(a_wl[i])
    for j in range(len(c_wl)):
        wl_c.append(np.float(c_wl[j+9][1:4]))
        wl_c_str.append(c_wl[j+9])

     # Unsorted list of wavelengths (412) and wavelength strings (a676)
    wavelist = wl_a + wl_c                   ; wavelist_str = wl_a_str + wl_c_str   
    # Unsorted list of wavelengths (412) and wavelength strings (a676) as arrays
    wavelengths = np.asarray(wavelist)       ; wavelengths_str = np.asarray(wavelist_str)  
    # Sorted list of a and c wavelengths as floats in an array (ex: 412, 440, etc)
    wl_a_sorted = np.asarray(sorted(wl_a))   ; wl_c_sorted = np.asarray(sorted(wl_c))

    # Now read back in the data, skipping all the header information  
    # The time series of measured values starts in the 32th row
    df1 = pd.read_csv(file_path, skiprows=31, delimiter= '\t') 

    # drops all the ragged extra columns dangling to the right
    columns = df1.columns[19:len(df1.columns)]                 
    df2 = df1.drop(columns, axis=1)    # you should have 19 cols left ~ array size [ntimesteps, 19]                       

    # drops the first column of the timestamp (ntimesteps)
    columns1 = df2.columns[0]
    df3 = df2.drop(columns1, axis=1)                    

    # makes a new header from the list of wavelengths you parsed earlier  
    wl_header = wavelengths_str 

    # Clean and reindex
    df4 = df3[1:]                                       # take the data (row 1- n) less the header row (row 0)
    df4.columns = wavelengths_str                       # set the header row as list of wavelengths
    df4 = df4.reindex(sorted(df4.columns), axis=1) # reindex them by the new sorted wavelengths
    df4= df4.apply(pd.to_numeric)      # Just to make sure that all elements are floats!

    no_cols = int(len(df4.columns)/2.)                  # no_col should always be 9 (one for each wavelength)         

    # Sort your dataframe with ascending walues of your wavelengths
    # at this point the wl_a and wl_c are the same wavelengths so 
    # it doesn't matter which one you use here
    new_header = wl_a_sorted

    # reindex to reshape the data
    df_a_aux = df4.iloc[:, :no_cols];  df_a_aux.columns = new_header ;  df_a = df_a_aux.reindex(sorted(df_a_aux.columns), axis = 1)
    df_c_aux = df4.iloc[:, no_cols:];  df_c_aux.columns = new_header ;  df_c = df_c_aux.reindex(sorted(df_c_aux.columns), axis = 1)

    # calculate the me(di)an, stdev, IQR for the time series - per each column
    a_mean = df_a[wl_a_sorted].mean(axis=0)         ; c_mean = df_c[wl_c_sorted].mean(axis=0)   
    a_std  = df_a[wl_a_sorted].std(axis=0)          ; c_std  = df_c[wl_c_sorted].std(axis=0)
    a_median = df_a[wl_a_sorted].median(axis=0)     ; c_median = df_c[wl_c_sorted].median(axis=0)
    a_var = df_a[wl_a_sorted].var(axis=0)           ; c_var = df_c[wl_c_sorted].var(axis=0)
    a_conf = mean_confidence_interval(df_a[wl_a_sorted]) ; c_conf = mean_confidence_interval(df_c[wl_c_sorted])

    # Computing IQR
    a_Q1 = df_a[wl_a_sorted].quantile(0.25)         ; c_Q1 = df_c[wl_c_sorted].quantile(0.25)
    a_Q3 = df_a[wl_a_sorted].quantile(0.75)         ; c_Q3 = df_c[wl_c_sorted].quantile(0.75)
    a_IQR = a_Q3 - a_Q1                             ; c_IQR = c_Q3 - c_Q1

    # Specifiy the output file name and directory
    metadata_row = metadata.loc[metadata['Raw_File_Path']==file_path]
    ID = metadata_row['ID'].max()
    sensor = metadata_row['Sensor'].max()
    date = metadata_row['Date'].max()
    site = metadata_row['Site'].max()
    sample_type = metadata_row['Sample_Type'].max()
    analysis_type = metadata_row['Analysis_Type'].max()
    
    # Removing temperature information from sample name because it is already recorded elsewhere
    outputname = ID+ '.csv'
    outputdir = new_dir_path+'/'+ outputname 
    cleaned_raw_outputdir = cleaned_raw_data_path+'/'+'cleaned_raw_'+outputname 
    cleaned_raw_file_path.append(cleaned_raw_outputdir)
    averaged_file_path.append(outputdir)

    # make a new dataframe from the summary statistics and export
    if analysis_type == 'a':
        conf.append(a_conf)
        df_a.to_csv(cleaned_raw_outputdir, sep='\t',index=False)
        output_df = pd.DataFrame([wl_a_sorted, a_mean, a_std, a_median, a_var, a_IQR]).swapaxes(0,1)
        output_df.columns = ('wl', 'a_mean', 'a_std', 'a_median', 'a_var','a_IQR')
        output_df.to_csv(outputdir, sep='\t',index=False)
    else:
        conf.append(c_conf)
        df_c.to_csv(cleaned_raw_outputdir, sep='\t',index=False)
        output_df = pd.DataFrame([wl_c_sorted, c_mean, c_std, c_median, c_var, c_IQR]).swapaxes(0,1)
        output_df.columns = ('wl', 'c_mean', 'c_std', 'c_median', 'c_var','c_IQR')
        output_df.to_csv(outputdir, sep='\t',index=False)

metadata = pd.read_csv(metadata_updated_filepath, skiprows=0, dtype={'Date': object}, delimiter= '\t')
metadata['Cleaned_raw_file_path'] = cleaned_raw_file_path
metadata['Summary_file_path'] = averaged_file_path
metadata['Conf'] = [max(i) for i in conf]
metadata.to_csv(metadata_updated_filepath, sep='\t',index=False)